{{>licenseInfo}}

package {{invokerPackage}};

import java.util.List;
import java.util.Map;

import lombok.AllArgsConstructor;
import lombok.Getter;

/**
 * API response returned by API call.
 *
 * @param <T> The type of data that is deserialized from response body
 */
@AllArgsConstructor
public class ApiResponse<T> {
    @Getter
    final private int statusCode;

    @Getter
    final private Map<String, List<String>> headers;

    @Getter
    final private T data;

    /**
     * @param statusCode The status code of HTTP response
     * @param headers The headers of HTTP response
     */
    public ApiResponse(int statusCode, Map<String, List<String>> headers) {
        this(statusCode, headers, null);
    }
}
