package {{invokerPackage}};

import java.util.Set;

import javax.validation.ConstraintViolation;
import javax.validation.ValidationException;

import lombok.Getter;
import lombok.Setter;
import lombok.AllArgsConstructor;


@AllArgsConstructor
public class BeanValidationException extends ValidationException {
    /**
     * 
     */
    private static final long serialVersionUID = -5294733947409491364L;

    @Getter @Setter
    Set<ConstraintViolation<Object>> violations;
}
